@page "/"

<div class="jumbotron">
    <h1 class="display-4">Blazor CRUD</h1>
    <p class="lead">Uma estrutura de projeto completa que tem tudo que você precisa para construir seu aplicativo corporativo Blazor WASM.</p>
    <hr class="my-4">
    
</div>